- Aayush Shah 
- 19BCE245
- Practical 5 ML [MultinomialNB part]

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
url = 'https://raw.githubusercontent.com/justmarkham/pycon-2016-tutorial/master/data/sms.tsv'

In [2]:
sms = pd.read_table(url, header=None, names=['label','message'])
sms.shape

(5572, 2)

In [3]:
sms

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
sms.head()
sms.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [5]:
sms['label_num'] = sms.label.map({'ham':0, 'spam':1})
sms.head()

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0

In [7]:
X = sms.message
y = sms.label_num
print(X.shape)
print(y.shape)

(5572,)
(5572,)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vect =  CountVectorizer()
print(vect)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [16]:
vect.fit(X_train)
print(vect)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [18]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [19]:
X_train_dtm = vect.transform(X_train)
X_train_dtm

<4179x7614 sparse matrix of type '<class 'numpy.int64'>'
	with 56177 stored elements in Compressed Sparse Row format>

In [20]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<1393x7614 sparse matrix of type '<class 'numpy.int64'>'
	with 16814 stored elements in Compressed Sparse Row format>

In [21]:
from sklearn.naive_bayes import MultinomialNB

In [22]:
nb = MultinomialNB()
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
y_pred_class = nb.predict(X_test_dtm)

In [24]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred_class)

0.9877961234745154

In [26]:
print(y_test.value_counts())

0    1219
1     174
Name: label_num, dtype: int64

In [29]:
y_test.value_counts().head(1)

0    1219
Name: label_num, dtype: int64

In [30]:
null_accuracy = y_test.value_counts().head(1)/len(y_test)
print('Null accuracy : ', null_accuracy)

Null accuracy :  0    0.87509
Name: label_num, dtype: float64

In [32]:
print('Manual null accuracy : ',(1219/1219+174))
metrics.confusion_matrix(y_test, y_pred_class)

Manual null accuracy :  175.0

array([[1214,    5],
       [  12,  162]])